body {
	padding: 0px;
	border: 0px;
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	  color: #00B7FF;
}

#control {
	top: 0px;
	position: absolute;
	// max-width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.info {
	position: absolute;
	height: 40px;
	bottom: 0px;
	width: 100%;
}

#dot {
	position: absolute;
}
