<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  </head>
  <body>
    <%- body %>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
